<div class="row">

    <div class="col-lg-7">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title subtitulo text-center">Actualizar Usuario</h4>
                <hr>
                <!-- <h6 class="card-subtitle mt-2">made with bootstrap elements</h6> -->
                <form ngNativeValidate #f="ngForm" (ngSubmit)="guardar(f.value)" class="form p-t-20 mt-2s">
                    <div class="form-group mt-2">
                        <label for="exampleInputuname">Nombre</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                            <input [ngModel]="usuario.nombre" name="nombre" type="text" class="form-control" placeholder="Nombre" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputApellido">Apellido</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-email"></i></div>
                            <input [ngModel]="usuario.apellido" name="apellido" type="text" class="form-control" placeholder="Apellido">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-email"></i></div>
                            <input [ngModel]="usuario.email" name="email" type="email" class="form-control" placeholder="Email" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmpresa">Empresa</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-email"></i></div>
                            <input [ngModel]="usuario.empresa" name="empresa" type="text" class="form-control" placeholder="Empresa">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputDireccion">Direccion</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-email"></i></div>
                            <input [ngModel]="usuario.direccion" name="direccion" type="text" class="form-control" placeholder="Direccion">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputDNI">DNI</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-email"></i></div>
                            <input [ngModel]="usuario.dni" name="dni" type="text" class="form-control" placeholder="DNI">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputCuit">CUIT</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-email"></i></div>
                            <input [ngModel]="usuario.cuit" name="cuit" type="text" class="form-control" placeholder="CUIT">
                        </div>
                    </div>

                    <button type="submit" class="btn btn-dark waves-effect waves-light m-r-10">Guardar</button>
                    <button type="submit" routerLink="/usuarios" class="btn btn-dark waves-effect waves-light m-2">Cancelar</button>
                </form>
            </div>
        </div>
    </div>

    <!-- <div class="col-lg-5">
        <div class="card">
            <div class="card-body" align="center">
                <h4 class="card-title">Subir / Actualizar Imagen</h4> -->
    <!-- <h6 class="card-subtitle">made with bootstrap elements</h6> -->
    <!-- <img *ngIf="!imagenTemp" [src]="usuario.img | imagen" class="w150">
                <img *ngIf="imagenTemp" [src]="imagenTemp" class="w150">

                <input (change)="seleccionImagen( $event.target.files[0] )" type="file">
                <br>
                <br>
                <button (click)="cambiarImagen()" [disabled]="!imagenSubir" type="button" class="btn btn-block btn-success waves-effect waves-light m-r-10">Actualizar Imagen</button>



            </div>
        </div>
    </div> -->

</div>